<app-header></app-header>

<mat-card class="cuento-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{cuento.titulo}}</mat-card-title>
            <mat-card-subtitle>Fecha de creacion: {{cuento.fecha}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <br>
    <img mat-card-image src={{cuento.foto}}  alt="Image">
    <br>
    <mat-card-content>
        <p>{{cuento.contenido}}</p>
    </mat-card-content>
</mat-card>

<app-footer></app-footer>