<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generador de Cuentos</title>
  <link rel="stylesheet" href="home.component.html">
</head>
<body>
  <!-- <button onclick="location.href='https://api-web-m5lb.onrender.com/public/index.html'">Generar Cuento</button> -->
  <div class="iframe">
    <iframe src="https://api-web-m5lb.onrender.com/public/index.html" width="700" height="600" frameborder="0"></iframe>
  </div>

</body>
</html>

<app-footer></app-footer>