.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; // Ajusta la altura según tus necesidades
    color: white;
    background: rgb(71, 70, 70);
    border: 3px;
    border-color: white;
    padding-top: 10px;
  }

